<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Images/images/favicon.png">

    <title>Yohamna Solange</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- templatestyles -->
    <link href="~/Content/HomeTheme/css/layout.css" rel="stylesheet">
    <link href="~/Content/HomeTheme/css/responsive.css" rel="stylesheet">
    <link href="~/Content/HomeTheme/css/meanmenu.css" rel="stylesheet">
    <link href="~/Content/HomeTheme/css/colorbox.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/HomeTheme/css/player/player/player.css" />

    <!--INFINITY SLIDER ST00YLES-->
    <link rel="stylesheet" href="~/Content/HomeTheme/infinityslider/css/font-awesome.min.css" type="text/css" media="all" />
    <!--Load Skin Css-->
    <link rel="stylesheet" href="~/Content/HomeTheme/infinityslider/skins/skin-all.css" type="text/css" media="all" />
    <!--Load Slide Css-->
    <link rel="stylesheet" href="~/Content/HomeTheme/infinityslider/css/slide1-positions-fullscreen.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/HomeTheme/infinityslider/css/slide1-colors.css" type="text/css" media="all" />
    <!--Load Cinematic-->
    <link rel="stylesheet" href="~/Content/HomeTheme/infinityslider/css/cinematic.css" type="text/css" media="all" />
    <!--Load Loading-->
    <link rel="stylesheet" href="~/Content/HomeTheme/infinityslider/loading/loading-bars.css" type="text/css" media="all" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>
    <!--[if !IE]><!-->
    <script>
		if (false) { document.documentElement.className+=' ie10'; }
		if (document.documentMode === 11) { document.documentElement.className+=' ie11'; }
    </script>
    <!--<![endif]-->
    <!--[if  IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>

<body>

    @RenderBody()

    <script src="~/Content/HomeTheme/infinityslider/js/youtube.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/vimeo.js"></script>
    <script src="http://www.youtube.com/player_api"></script>
    <!--Infinity Slider-->
    <script src="~/Content/HomeTheme/infinityslider/js/bootstrap.min.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/canvasblur.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/canvasgrayscale.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/loader.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/cinematic.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/fullscreen.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/thumbnails-horizontal.js"></script>
    <script src="~/Content/HomeTheme/infinityslider/js/infinitySlider.js"></script>
    <!--/.Infinity Slider-->
    <script src="~/Scripts/HomeTheme/js/functions.js"></script>
    <script src="~/Scripts/HomeTheme/js/jquery.colorbox-min.js"></script>
    <script src="~/Scripts/HomeTheme/js/sortable.js"></script>
    <script src="~/Scripts/HomeTheme/js/jquery.infieldlabel.min.js"></script>
    <script src="~/Scripts/HomeTheme/js/jquery.meanmenu.js"></script>
    <script src="~/Scripts/HomeTheme/js/jquery.easing.min.js"></script>
    <script src="~/Scripts/HomeTheme/js/jquery.quicksand.js"></script>
</body>
</html>