@{
    var urlPrefix = "http://guerilladevteam.com";
}
<div id="main-content">
    <div class="wrap">
        <div class="inner-wrap" style="margin-top:0px;">
            <div class="page-content group">
                <article class="entry group" style="width:100%;">
                    <h2 class="page-title">Photos</h2>

                    <div class="entry-content group">
                        @*<div class="filters">

                            <ul id="filters" class="clearfix" style="list-style:none;">
                                <li><a title="all" href="#" class="active"> all </a></li>
                                <li><a title="Model" href="#"> Model </a></li>
                                <li><a title="Fashion" href="#"> Fashion </a></li>
                                <li><a title="Catwalk" href="#"> Catwalk </a></li>
                                <li><a title="Clothing" href="#"> Clothing </a></li>
                            </ul>

                        </div>*@
                        <div style="clear:both;"></div>
                        <div id="portfolio">

                            <ul id="portfolio_list">
                                @{
                                    var palbumCount = 1;
                                }
                                @foreach (var a in ViewBag.photos)
                                {
                                    <li class="portfolio" data-id="id-@palbumCount++" data-type="Catwalk">
                                        <div class="portfolio-wrapper">
                                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Photo/ViewAlbum?aid=@a.album.PhotoAlbumId" >
                                                <img src="@urlPrefix@a.photos[0].Location" alt="" height="178" width="228" />
                                            </a>
                                            <div class="label">
                                                <div class="label-text">
                                                    <a class="text-title"  href="@Request.Url.GetLeftPart(UriPartial.Authority)/Photo/ViewAlbum?aid=@a.album.PhotoAlbumId" style="text-decoration:none;">@a.album.Title</a>
                                                        <span class="text-category">&nbsp;</span>
                                                </div>
                                                <div class="label-bg"></div>
                                            </div>
                                        </div>
                                    </li>
                                  

                                }
                            </ul>

                        </div><!-- portfolio end -->
                        </div>
                    </article>
                    </div>
                    <!-- .page-content -->
            </div>
            <!-- .inner-wrap -->
        </div>
        <!-- .wrap < #main-content -->
    </div>
    <!-- #main-content -->
